#snake-field {
  display: inline-block;
}

#snake-new, #snake-start {
  width: 154px;
  padding: 15px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #5F83FB;
  text-align: center;
  cursor: pointer;
  float: left;
  margin-top: 5px;
}

#snake-start {
  margin-right: 12px;
}

.game-table {
  border-collapse: collapse;
  background-color: #3E3E3E;
}

td.game-table-cell {
  width: 18px;
  height: 18px;
  border: 1px dotted #EEEEEE;
}

.snake-unit {
  background-color: #FFFFFF;
}

.bomb-unit {
  background-color: #c2294a;
}

.food-unit {
  background-color: #29C242;
}

.buttons {
  display: inline-block;
}

.wrap {
  margin: 30px auto 0;
  text-align: center;
}

.count {
  margin-top: 10px;
  font-size: 18px;
}

.score {
  margin-left: 10px;
  color: #5F83FB;
  font-weight: 700;
}